body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 2px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
}

.game-info {
    margin-left: 20px;
}

.winner{
    border-color: crimson;
}

.horizontal-divider{
    display: block;
    content: "";
    clear: both;
    width: 100%;
    background-color: green;
}

.Comment{
    border: 2px dashed green;
    padding: 5px;
}

/*Table Styling*/

table{
    font-family: Arial,sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 2px solid #abcdef;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #999999;
}

.warning-banner{
    background-color: orange;
}