@import-normalize;

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.row:after {
    clear: both;
    content: "";
    display: table;
}


.redBoundaries{
    border: orange dashed 2px;
}

.app-header{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    background-color: red;
    color: #FFFFFF;
}

.standard-unit-card{
    display: inline-block;
    overflow:hidden;
    box-sizing: border-box;
    background-color: #c0c0c0;
    border: solid 2px darkgray;
}


.unit-card-header{
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    background-color: #2A3531;
    color: white;
    margin: 0;
    padding: 20px;
    width: 100%;
}


